name: Hiero Solo Integration Tests

on:
  push:
    branches:
      - '**'
  workflow_dispatch:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Install setuptools wheel
        run: pip install --upgrade pip setuptools wheel

      - name: Setup Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Generate Proto Files
        run: bash ./generate_proto.sh

      - name: Prepare Hiero Solo
        id: solo
        uses: hiero-ledger/hiero-solo-action@8c976203a7b809c121f9844581f65ef9782c254f #v0.8
        with:
          installMirrorNode: true

      - name: Set environment variables
        run: |
          echo "OPERATOR_ID=${{ steps.solo.outputs.accountId }}"
          echo "OPERATOR_KEY=${{ steps.solo.outputs.privateKey }}"
          echo "ADMIN_KEY=${{ steps.solo.outputs.privateKey }}"
          echo "PUBLIC_KEY=${{ steps.solo.outputs.publicKey }}"

      - name: Install your package
        run: pip install -e .

      - name: Run integration tests
        env:
          OPERATOR_ID: ${{ steps.solo.outputs.accountId }}
          OPERATOR_KEY: ${{ steps.solo.outputs.privateKey }}
          ADMIN_KEY: ${{ steps.solo.outputs.privateKey }}
          PUBLIC_KEY: ${{ steps.solo.outputs.publicKey }}
          NETWORK: solo
        run: |
          uv run pytest -m integration

      - name: Run unit tests
        run: |
          uv run pytest -m unit
